@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: url('https://cdn3.bestreviews.com/images/v4desktop/chubby/32c77370f3a81b4bb9ccfb539c881d0e.jpg');
    background-color: deepskyblue;
    background-repeat: no-repeat;
    background-size:cover;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 10px 20px 40px 20px;
    color: #fff;
}

.container{
    font-family: 'Monserrat';
    font-size: 22px;
    width: 600px;
    height: 400px;
    margin: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container button {
    background-color: #000;
    color: #fff;
    padding: 3px;
    border-radius: 5px;
}

.container input {
    padding: 5px;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}
.search label {
    margin-bottom: 5px;
}
.search input {
    margin-bottom: 10px;
}

.loading {
    padding: 20px;
}

.weatherbox {
    padding: 40px;
}